<launch>
    <!-- Εκκίνηση του Harvest Coordinator Node -->
    <node name="harvest_coordinator" pkg="odom_processor" type="harvest_coordinator.py" output="screen" launch-prefix="python3"/>

    <!-- Εκκίνηση του Perception Node -->
    <node name="perception_node" pkg="odom_processor" type="perception_node.py" output="screen" launch-prefix="python3"/>

    <!-- Εκκίνηση του Gripper Controller -->
    <node name="gripper_controller" pkg="odom_processor" type="gripper_control.py" output="screen" launch-prefix="python3"/>

    <!-- Εκκίνηση του Cutting Node -->
    <node name="cutting_node" pkg="odom_processor" type="cutting_node.py" output="screen" launch-prefix="python3"/>
</launch>



<launch>
       
    <!-- Node για τον υπολογισμό της κίνησης και αποστολή εντολών -->
    <node pkg="odom_processor" type="harvest_motion_node.py" name="harvest_motion_node" output="screen"/>

    <!-- Node για την εκτέλεση των κινήσεων στον UR10 -->
    <node pkg="CARPOS_amg" type="carpos_amg_node.py" name="carpos_amg" output="screen" launch-prefix="python3"/>
 <node pkg="carpos_active_perception" type="carpos_active_perception_node.py" name="carpos_active_perception" output="screen" launch-prefix="python3"/>
   
  
   <!-- Start Tomato Detector Node -->
    <node pkg="odom_processor" type="dummy_tomato_publisher.py" name="dummy_tomato_publisher" output="screen"/>

   
    <!-- Εκκίνηση του κόμβου gripper_control -->
    <node name="gripper_control" pkg="gripper_control" type="gripper_control.py" output="screen">
        <param name="serial_port" value="/dev/ttyUSB0"/>
        <param name="baud_rate" value="115200"/>
    </node>
</launch>

