<launch>

    <param name="use_sim_time" value="true" />
    <!-- Publish robot description -->
  <param name="robot_description" command="cat $(find robot_description)/urdf/husky_ur10.urdf"/>

   <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
  </include>

  <!-- Spawn the robot -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description -urdf -model husky_ur10"/>
   

    <!-- Start Joint State Publisher -->
<!-- Start Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="robot_description" command="cat $(find robot_description)/urdf/husky_ur10.urdf" />
    <param name="publish_rate" type="double" value="15.0"/>

  </node>
<rosparam file="$(find robot_description)/config/controlH.yaml" command="load" />
<node name="controller_spawner" pkg="controller_manager" type="spawner"
      args="husky_velocity_controller ur10_controller joint_state_controller" output="screen" />

  <!-- Start Joint State Publisher (Optional) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />


  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find robot_description)/config/twist_muxH.yaml" />
    <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel"/>
  </node>
        
    <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/rviz/husky_ur10.rviz" required="true" output="screen"/>
  <param name="use_sim_time" value="true" />

    <!-- Static Transform from odom to base_link -->
 <param name="use_sim_time" value="true" />
    <node pkg="tf" type="static_transform_publisher" name="ur10_to_zed" args="0 0 0 0 0 0 ur10_flange zed2_base_link_test 100" />
    <node pkg="tf" type="static_transform_publisher" name="zedc" args="0 0 0 0 0.0249974 0 zed2_base_link_test zed2_camera_center 100" />
    <node pkg="tf" type="static_transform_publisher" name="zedL" args="-0.01 0.06 0 0 0 0 zed2_camera_center zed2_left_camera_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="zedoL" args="0 0 0 0.5 -0.5 0.5 zed2_left_camera_frame zed2_left_camera_optical_frame  100" />
    <node pkg="tf" type="static_transform_publisher" name="zedR" args="-0.01 -0.06 0 0 0 0 zed2_camera_center zed2_right_camera_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="zedoR" args="0 0 0 -0.5 0.5 -0.5 zed2_right_camera_frame zed2_right_camera_optical_frame 100" />
    
    

<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" />

</launch>
