<launch>
    <!-- Start Tomato Detector Node -->
    <node pkg="perception_node" type="perception_node_lowest.py" name="perception_node_lowest" output="screen">
        <param name="model_path" value="$(find tomato_detector)/models/keypoints_new.pt"/>
        <param name="show_frame" value="true"/>
        <param name="frame_id" value="rs_camera"/>
    </node>
</launch>

